<!doctype html>
<html lang="es">
<head>
  <title>Cliente Nuevo</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/styles.css">
</head> 
<body class="bg-custom-gray">
  <header id="header" class="bg-secondary py-3 px-5 d-flex justify-content-between align-items-center">
        <!-- place navbar here -->
         <h2>Gym Codo a Codo</h2>
         <a  class="btn btn-success" href="clientes.html">Lista Clientes</a>
    </header>
  <main style="height: 100vh;">
    <div class="container" id="app">
        <form class="bg-light p-4 rounded mt-4" style="max-width: 600px; width: 100%; margin:auto;">
            <h2>Datos nuevo cliente</h2>
            <div class="mb-1">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="nombre" v-model="nombre">
            </div>
            <div class="mb-1">
                <label for="apellido">Apellido</label>
                <input type="text" class="form-control" name="apellido" id="apellido" v-model="apellido">
            </div>
            <div class="mb-1">
                <label for="fecha_nacimiento">Fecha Nacimiento</label>
                <input type="date" class="form-control" name="fecha_nacimiento" id="fecha_nacimiento" v-model="fecha_nacimiento">
            </div>
          <div class="mb-1">
             <label class="mb-2" for="categoria_plan">Tipo de Membresia</label>
             <select class="form-control" name="categoria_plan" id="categoria_plan" v-model="categoria_plan">
                 <option disabled selected>Selecciona una</option>
                 <option value="mensual">Mensual</option>
                 <option value="trimestral">Trimestral</option>
                 <option value="anual">Anual</option>
             </select>
           </div>
            <div class="mb-1">
                <label for="imagen">Imagen</label>
                <input type="text" class="form-control" name="imagen" id="imagen" v-model="imagen">
            </div>
            <br>
            <button type="button" class="btn btn-success" v-on:click="grabar()">Guardar</button>
        </form>
    </div>
</main>

  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
  <script src="./js/main.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./js/script_clientes.js"></script>
</body>
</html>
