.bg-custom-gray {
  background-color: #adb5bd;
}
.thead-dark {
    background-color: #343a40;
    color: #fff;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-bordered th, 
.table-bordered td {
    border: 1px solid #dee2e6;
}

.table img {
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}